.final-main__img-grid  {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Three columns with equal width */
    gap: 10px; 
    height: 300px;
}

.final-main__img-grid  .final-main-wrap__img-grid {
}

.final-main__grid-markup {
    grid-area: 1 / 1 / 2 / 3;
    align-content: center;
}

.final-main__img-name {
    width: 25rem;
}

/* hover */
.overflow {
    overflow: hidden;

}

.f:hover {
    transform: scale(1.1);
}
.f {
    transition: transform 0.25s ease-in-out 0s;
}
.call-doom__card-gap {
    gap: 1.5rem;
}