
.box_active {
  display: flex;
}

.btn_active {
  background: rgb(64, 67, 64);
}

.box > img {
    transition: transform 0.4s;
}

.box > img:hover {
    transform: scale(1.05);
    z-index: 1;
}



/* Trailer */
.trailer{
  position: fixed;
  width: 100%;
  height: 100vh;
  display: none;
  background-color: rgba(18, 23, 28, .95);
  z-index: 1000;
}

.trailer .content{
  align-items: end;
  height: 100%;
  padding: 25px 0;
}

/* Banner */
.banner{
  background-image: url(public/img/banner.jpg);
  height: 100vh;
}

.banner img{
  width: 52rem;
  -webkit-filter: drop-shadow(0 0 .8rem rgba(0, 0, 0, .8));
  filter: drop-shadow(0 0 .8rem rgba(0, 0, 0, .8));
}

.banner p{
  margin: 12px 0;
  color: #f2f2f2;
  text-shadow: 0 0 16px rgba(3,17,18,.4), 0 0 32px rgba(3,17,18,.6);
  font-size: 28px;
  letter-spacing: 3px;
  font-weight: 500;
}

.banner button{
  font-weight: 700;
}
