hr.vertical {
    width: 100%;
    height: 1px;
    background: #000;
}

.all-seasons__img-size {
    height: 22rem;
    width: 100%;
}

.all-seasons__hover {
    transition: transform 0.4s;
}

.all-seasons__hover:hover {
    transform: scale(1.05);
    z-index: 1;
}

.height-img {
    height: 500px;
}